html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/*
.full-height {
	height: 100vh;
}
*/

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  margin-top: 20px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.dataTables_info {
  float: left;
}

.carousel-control-prev,
.carousel-control-next {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.carousel-control-prev-icon {
  margin-left: -50%;
}

.carousel-control-next-icon {
  margin-right: -50%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  left: 7.5% !important;
  right: 7.5% !important;
}

.smalltext {
  font-size: 90%;
  text-align: left;
  margin-left: 0.8em;
}

.clickable {
  cursor: pointer;
}

.documentation-item {
  border: 1px solid black;
  margin: 0px 10px 5px 10px;
  padding: 0.5em;
  text-align: left;
}

